In [5]:
import csv

In [6]:
open_file = open('student data.csv', mode='r')
open_file

In [7]:
reader = csv.reader(open_file)
reader

In [8]:
data = list(reader)
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [9]:
header = data[0]
header

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']

In [10]:

data = [
['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']
]

In [11]:

def calculate_grade(percentage):
    if percentage >= 80:
        return 'A'
    elif percentage >= 70:
        return 'B'
    elif percentage >= 60:
        return 'C'
    elif percentage >= 50:
        return 'D'
    else:
        return 'F'

In [12]:
output_file = "grades.csv"

In [13]:

with open(output_file, "w", newline="") as file:
    writer = csv.writer(file)

    
    writer.writerow(['Roll No', 'Name', 'Chemistry', 'Physics', 'Math', 'Percentage', 'Grade'])

    
    for row in data[1:]:
        chem = int(row[2])
        phy = int(row[3])
        math = int(row[4])

        percentage = (chem + phy + math) / 3
        grade = calculate_grade(percentage)

        writer.writerow([row[0], row[1], chem, phy, math, f"{percentage:.2f}", grade])

print(f" New CSV file '{output_file}' created successfully with grades!")

 New CSV file 'grades.csv' created successfully with grades!