Drop rows where EmployeeName and JobTitle are 'Not provided'

Replace 'Not Provided' with 0 in BasePay OvertimePay	OtherPay	Benefits

Change BasePay	OvertimePay	OtherPay	Benefits type to float

Display all employees name and basepay columns who have a BasePay greater than 200,000.

Find all employees whose JobTitle contains the word “Manager” (case = False)

Retrieve only the columns: EmployeeName, JobTitle, and TotalPay.

Find count of employees who have zero OvertimePay.

Calculate the TotalPay for each JobTitle where totalpay > 300000

Find the top 5 JobTitles with the highest average TotalPayBenefits show in descending order

Replace all missing Benefits values with 0

Identify the top employee name by TotalPay in each Year. Show year, employeename and totalpay dataframe

Find the number of employees per JobTitle.

In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [4]:
data = pd.read_csv("Salaries.csv")
data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [34]:
#1
data = data[(data["EmployeeName"] != "Not provided") & (data["JobTitle"] != "Not provided")]
data.to_csv("Salaries_Cleaned.csv", index=False)
print("Done! Cleaned file saved as Salaries_Cleaned.csv")

Done! Cleaned file saved as Salaries_Cleaned.csv

In [35]:
#2
columns_change = ["BasePay", "OvertimePay", "OtherPay", "Benefits"]
data[columns_change] = data[columns_change].replace(["Not provided", "Not Provided"], 0)

for col in columns_change:
    data[col] = pd.to_numeric(data[col], errors="coerce").fillna(0)
data.to_csv("Salaries_Fixed.csv", index=False)

In [36]:
print("Done! Replaced 'Not provided' with 0 and saved Salaries_Fixed.csv")

Done! Replaced 'Not provided' with 0 and saved Salaries_Fixed.csv

In [37]:
#3
columns = ["BasePay", "OvertimePay", "OtherPay", "Benefits"]
data[columns] = data[columns].replace(["Not provided", "Not Provided"], 0)

for col in columns:
    data[col] = data[col].astype(float)
data.to_csv("Salaries_Float.csv", index=False)

In [38]:
print("Done! Columns changed to float and file saved as Salaries_Float.csv")

Done! Columns changed to float and file saved as Salaries_Float.csv

In [39]:
#4
data["BasePay"] = pd.to_numeric(data["BasePay"], errors="coerce").fillna(0)
high_pay = data[data["BasePay"] > 200000]

In [40]:
print(high_pay[["EmployeeName", "BasePay"]])

              EmployeeName    BasePay
2           ALBERT PARDINI  212739.13
7            DAVID KUSHNER  256576.96
9       JOANNE HAYES-WHITE  285262.00
12       EDWARD HARRINGTON  294580.02
13             JOHN MARTIN  271329.03
...                    ...        ...
110953      Ronald P Flynn  201296.01
110954    Sheryl L Bregman  201296.00
110976       Susan T Obata  202445.22
110977       John O Funghi  201181.01
111107       Mayra T Vivas  205036.00

[509 rows x 2 columns]

In [41]:
#5
managers = data[data["JobTitle"].str.contains("Manager", case=False, na=False)]
print(managers[["EmployeeName", "JobTitle"]])

                EmployeeName                                        JobTitle
0             NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
83            EDWARD REISKIN  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
87               KEVIN BARRY                                     MANAGER VII
95              MIVIC HIROSE                                    MANAGER VIII
162            JULIE LABONTE                                    MANAGER VIII
...                      ...                                             ...
147216  Steven D Koneffklatt                                     Manager III
147502    Alice B Villagomez                                      Manager IV
147805    Stephen C Laplante                                      Manager II
148150      Shirley M Parker                           Real Property Manager
148475         James P Horan                                      Manager IV

[4110 rows x 2 columns]

In [42]:
#6
selected = data[["EmployeeName", "JobTitle", "TotalPay"]]
print(selected)

             EmployeeName                                        JobTitle  \
0          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148645   Carolyn A Wilson                       Human Services Technician
148647     Joann Anderson                     Communications Dispatcher 2
148648        Leon Walker                                       Custodian
148649      Roy I Tillery                                       Custodian
148653          Joe Lopez                      Counselor, Log Cabin Ranch

         TotalPay
0       567595.43
1       538909.28
2       335279.91
3       332343.61
4       326373.19
...           ...
148645       0.00
148647       0.00
148648       0.00
148649       0.00
148653    -618.13

[148650 rows x 3 columns]

In [43]:
#7
data["OvertimePay"] = pd.to_numeric(data["OvertimePay"], errors="coerce").fillna(0)
count_zero = (data["OvertimePay"] == 0).sum()
print("Number of employees with zero OvertimePay:", count_zero)

Number of employees with zero OvertimePay: 77321

In [44]:
#8
data["TotalPay"] = pd.to_numeric(data["TotalPay"], errors="coerce").fillna(0)
high_pay = data[data["TotalPay"] > 300000]
result = high_pay.groupby("JobTitle")["TotalPay"].sum().reset_index()

In [45]:
print(result)

                                          JobTitle    TotalPay
0                        ASSISTANT DEPUTY CHIEF II   316285.74
1                         Assistant Deputy Chief 2   654066.15
2                     Asst Chf of Dept (Fire Dept)  1303828.26
3                                Asst Med Examiner  1069837.40
4               BATTALION CHIEF, (FIRE DEPARTMENT)   619408.60
5                   Battalion Chief, Fire Suppress  2845960.11
6                   Battlion Chief, Fire Suppressi  1266054.40
7                  CAPTAIN III (POLICE DEPARTMENT)   874189.19
8           CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)   302377.73
9                                        Captain 3  1274613.48
10                       Captain, Fire Suppression   610671.88
11                        Chief Investment Officer   339653.70
12                                 Chief of Police   987550.94
13                          Chief, Fire Department   977915.05
14                                     Commander 3   322143.10
15    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)   326373.19
16                  DEPUTY DIRECTOR OF INVESTMENTS   307899.46
17                    Dep Dir for Investments, Ret   315572.01
18                                     Dept Head V   927825.30
19                                  Deputy Chief 3   471952.64
20                                  Deputy Sheriff   308434.84
21                       EMT/Paramedic/Firefighter   337204.86
22                     Electronic Maintenance Tech   336393.73
23                     Executive Contract Employee   623473.54
24  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY   567595.43
25                      Gen Mgr, Public Trnsp Dept   305307.89
26                    Lieutenant, Fire Suppression   683220.45
27                     Senior Physician Specialist   634537.20
28            WIRE ROPE CABLE MAINTENANCE MECHANIC   332343.61

In [49]:
#9
data["TotalPayBenefits"] = pd.to_numeric(data["TotalPayBenefits"], errors="coerce").fillna(0)
high_avg = data.groupby("JobTitle")["TotalPayBenefits"].mean().reset_index()
top_job_titles = high_avg.sort_values(by="TotalPayBenefits", ascending=False).head(5)

In [50]:
print(top_job_titles)

                                           JobTitle  TotalPayBenefits
466                        Chief Investment Officer     436224.360000
474                                 Chief of Police     411732.266667
475                          Chief, Fire Department     408865.326667
831  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY     399211.275000
838                      Gen Mgr, Public Trnsp Dept     380696.440000

In [51]:
data.to_csv("Salaries_BenefitsFixed.csv", index=False)

In [52]:
print("Done! All missing Benefits values replaced with 0.")

Done! All missing Benefits values replaced with 0.

In [53]:
#11
data["TotalPay"] = pd.to_numeric(data["TotalPay"], errors="coerce").fillna(0)
data = data.sort_values(["Year", "TotalPay"], ascending=[True, False])
top_employees = data.groupby("Year").first().reset_index()
result = top_employees[["Year", "EmployeeName", "TotalPay"]]

In [54]:
print(result)

   Year    EmployeeName   TotalPay
0  2011  NATHANIEL FORD  567595.43
1  2012  Gary Altenberg  362844.66
2  2013     Samson  Lai  347102.32
3  2014     David Shinn  471952.64

In [55]:
#12
data = pd.read_csv("Salaries.csv")
employee_count = data["JobTitle"].value_counts().reset_index()
employee_count.columns = ["JobTitle", "Number_of_Employees"]

In [56]:
print(employee_count)

                                            JobTitle  Number_of_Employees
0                                   Transit Operator                 7036
1                                      Special Nurse                 4389
2                                   Registered Nurse                 3736
3                       Public Svc Aide-Public Works                 2518
4                                   Police Officer 3                 2421
...                                              ...                  ...
2154                         CHIEF HOUSING INSPECTOR                    1
2155                         TRAFFIC SIGNAL OPERATOR                    1
2156           COURT COMPUTER FACILITIES COORDINATOR                    1
2157  AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I                    1
2158                     VICTIM & WITNESS TECHNICIAN                    1

[2159 rows x 2 columns]